body{
    font-family: Arial;
    background-color: antiquewhite;
    
}

.todo-grid, .todo-input-grid{

    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;

}

.todo-input-grid{
    margin-bottom: 15px;
    align-items: stretch;
}

.name-input, .due-date-input{
    font-size: 15px;
    padding: 6px;
}

.add-todo-btn{

    background-color: rgb(56, 233, 201);
    font-size: 15px;
    color: black;
    font-weight:400;
    border: none;
    cursor: pointer;
    transition: opacity 0.15s;
    
}

.add-todo-btn:active{
    opacity: 0.8;
}

.delete-todo-btn{

    background-color: rgb(222, 45, 45);
    font-size: 15px;
    color: whitesmoke;
    border: none;
    padding: 8px;
    font-weight: 400;
    cursor: pointer;
    transition: opacity 0.15s;


}
.delete-todo-btn:active {
    opacity: 0.8;
}